# Wildcard Files
*.ini
*.*log*
NT*.*

# Wildcard Directories
Creative Cloud Files/*
Desktop/*
Documents/*
Downloads/*
Dropbox/*
Favorites/*
Links/*
OneDrive/*
Pictures/*
Saved Games/*
scoop/*
Searches/*
.vscode/*
AppData/*
Contacts/*
.docker/*
.oh-my-posh/*
Videos/*
.ssh/*
.config/scoop/*
.config/nvim/plugged/*

# Files
.git-for-windows-updater
.gitconfig
.lesshst
.rdm/connections.json
.rnd
.vivaldi_reporting_data
.config/neofetch/config.conf
