# Wildcard Files
*.ini
*.*log*
NT*.*

# Linux Files
.bash*
.profile
.sudo_as_admin_successful
.wget-hsts
.gitconfig.save

# Wildcard Directories
Creative Cloud Files/*
Desktop/*
Documents/*
Downloads/*
Dropbox/*
Favorites/*
Links/*
OneDrive/*
Pictures/*
Saved Games/*
scoop/*
Searches/*
.vscode/*
.cache/*
AppData/*
Contacts/*
.docker/*
.oh-my-posh/*
Videos/*
.fonts/
.nvm/
.ssh/*
.config/scoop/*
.config/nvim/plugged/*
.config/QNAP
.config/autostart
.config/dconf
.config/enchant
.config/evolution
.config/gedit
.config/gnome*
.config/gtk*
.config/ibus
.config/pop*
.config/pulse
.config/user*
.dropbox*
.mozilla/*
.pki/*
.gnupg/*
.local/*
.var/*

# Files
.git-for-windows-updater
.gitconfig
.lesshst
.rdm/connections.json
.rnd
.vivaldi_reporting_data
.config/neofetch/config.conf
